@charset "utf-8";

body {
  margin: 0;
  background-color: rgb(249, 249, 249);
}

.hero-image {
  background-image: url("images/aleksandar-pasaric.webp");
  height: 530px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  box-shadow: 0 0 10px;
}

.container {
  width: 97vw;
  height: 300vh;
  font-family: "Poppins", sans-serif;
  color: #585772;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px repeat(40, 1fr) 40px;
  gap: 0px;
  padding: 10px;
  box-sizing: content-box;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.container h1 {
  font-size: 120%;
  font-weight: 500;
  text-align: center;
  padding: 5px 132px 0 132px;
  line-height: 2;
}

.textanimate {
  font-size: 110%;
  font-weight: 500;
  text-align: center;
}

span {
  opacity: 0;
  transition: all 0.4s ease;
}

span.fade {
  opacity: 1;
}

.container p {
  margin: 0px 30px 0px 30px;
  padding: 0px 0px 0px 0px;
  border: 0;
  font-size: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100.7%;
}

.content1 {
  width: 90%;
  margin: 0 40px 0 60px;
}

.content1 p {
  width: 90%;
  margin: 0 40px 0 60px;
  text-align: center;
}

.content2 {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  height: 2%;
  width: 97%;
}

.download {
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  width: 7%;
  height: 40px;
  box-shadow: 0 0 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: flex;
}

.btn {
  color: rgb(252, 247, 247);
  background-color: #fc9090;
  cursor: pointer;
  height: 42px;
  font-size: 16px;
}

a target {
  text-decoration: none;
}
.contentb,
.content3,
.content5,
.content7,
.content9,
.content11,
.content13,
.content15 {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0 80px 0 80px;
}

.content16,
.content4,
.content6,
.content8,
.content10,
.content12,
.content14 {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0 85px 0 45px;
}

.responsive-iframe {
  width: 99%;
  height: 70vh;
  background-color: white;
  box-shadow: 0 0 10px;
}

.content6 {
  grid-column-start: 1;
  grid-column-end: 5;
}
.content7 {
  grid-column-start: 1;
  grid-column-end: 5;
}

/* Text Area Styles */
textarea {
  margin-top: 10px;
  height: 100px;
  width: 95%;
}
/* Form Button Styles */
div#buttons {
  text-align: center;
  width: 100%;
}
/*new sweetAlert*/
button#btnAlert {
  text-align: center;
  width: 18%;
  margin: 0px 440px 0px 677px;
  height: 40px;
  font-size: 21px;
  box-shadow: 0 0 10px;
}
input[type="submit"],
input[type="reset"] {
  font-size: 0.8em;
  padding: 5px;
  margin: 15px;
  box-shadow: 0 0 10px;
}
/* Form Layout Styles */
.contact-form {
  max-width: 550px;
  margin: 0 auto;
  background: rgba(241, 242, 249, 1);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px;
}
form.contact-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
form.contact-form > fieldset {
  /*form#survey*/

  background-color: rgba(241, 242, 249, 1);
  border-radius: 20px;
  -webkit-flex: 1 1 300px;
  flex: 1 1 300px;
  font-size: 0.85em;
  padding: 10px;
  margin: 10px 400px 10px 400px;
}
div.formRow {
  /*div element as flexbox with row orientation*/
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 7px 0px;
}
div.formRow > * {
  /*objects that are direct children of div.formRow */
  -webkit-flex: 1 1 150px;
  flex: 1 1 150px;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 88%;
}
.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #a9a9a9;
  padding: 10px;
  color: black;
  width: 100%;
}
.msg textarea {
  height: 212px;
}
::-webkit-input-placeholder {
  color: black;
}
::-moz-input-placeholder {
  color: black;
}
::-ms-input-placeholder {
  color: black;
}

/* Validation Styles */
input:focus,
select:focus,
textarea:focus {
  /*color of box*/
  background-color: rgb(220, 255, 220);
}
input#name:focus:valid,
input#mail:focus:valid {
  background: rgb(220, 255, 220) url("rb_valid.png") bottom right/contain
    no-repeat;
}
input#name:focus:valid,
input#mail:focus:valid {
  background: rgb(220, 255, 220) url("rb_invalid.png") bottom right/contain
    no-repeat;
}

.toplink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*footer index*/
.footer {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #009cde;
  top: 1400px;
}

/*nav*/
.navBar {
  background-color: #009cde;
  overflow: hidden;
}

.navBar a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Tahoma;
}

.navBar a:hover {
  background-color: white;
  color: #009cde;
}

/*Hides the menu Icon which will show 
when the nav needs to be responsive*/
.navBar .icon {
  display: none;
}

/*Set your custom screen width here replacing 700*/
@media (max-width: 700px) {
  /*Ignores the first link (which is Home) in the div 
  .navBar a:not(:first-child) {
    display: none;
  }
  /*Brings the menu icon into view and floats it to the right*/
  .navBar a.icon {
    display: block;
    float: right;
  }

  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /*Removes the originally set float and brings them to view*/
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*about page*/
.footerabout {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #009cde;
  top: 780px;
}

.container2 {
  width: 97vw;
  height: 118vh;
  font-family: "Poppins", sans-serif;
  color: #585772;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px repeat(40, 1fr) 40px;
  gap: 0px;
  padding: 10px;
  box-sizing: content-box;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.contentabout {
  width: 90%;
  margin: auto;
}

.contentp1 {
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  -webkit-flex: 1 1 300px;
  flex: 1 1 300px;
  margin: auto;
  height: 82%;
  width: 25%;
}

.university {
  display: flex;
  height: 5%;
  width: 5%;
}

/*contact*/
.container3 {
  width: 97vw;
  height: 138vh;
  font-family: "Poppins", sans-serif;
  color: #585772;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px repeat(40, 1fr) 40px;
  gap: 0px;
  padding: 10px;
  box-sizing: content-box;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.footercontact {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #009cde;
  top: 1040px;
  position: absolute;
  width: 99%;
}
.contactme {
  display: flex;
  height: 25%;
  width: 25%;
}

/*email form*/
.wrapper {
  position: absolute;
  top: 630px;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 0px;
  display: flex;
  text-align: center;
  margin: auto;
}

/*skills page*/
.container4 {
  width: 97vw;
  height: 118vh;
  font-family: "Poppins", sans-serif;
  color: #585772;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px repeat(40, 1fr) 40px;
  gap: 0px;
  padding: 10px;
  box-sizing: content-box;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.footerskills {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #009cde;
  top: 843px;
}

.sql {
  display: flex;
  height: 75%;
  width: 75%;
}

/*code.html*/
.container5 {
  width: 97vw;
  height: 358vh;
  font-family: "Poppins", sans-serif;
  color: #585772;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px repeat(40, 1fr) 40px;
  gap: 0px;
  padding: 10px;
  box-sizing: content-box;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.footercode {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #009cde;
  top: 2843px;
}

.shadow {
  box-shadow: 0 0 10px;
}
